@model List<UrunGetModel>
@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Ürünler</h5>
                <a asp-controller="Urun" asp-action="Create" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="card-body">

                <form method="get">
                    <div class="input-group mb-2">
                        <select name="kategori" class="form-select" asp-items="ViewBag.Kategoriler">
                            <option value="" selected>Hepsi</option>
                        </select>
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>

                @if (Model.Count == 0)
                {
                    <p class="text-danger mb-3">Ürün bulunamadı.</p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped mb-0">
                            <thead class="table-secondary">
                                <tr>
                                    <th style="width: 20px;">Id</th>
                                    <th style="width: 80px;">Resim</th>
                                    <th>Ürün Adı</th>
                                    <th>Fiyat</th>
                                    <th>Aktif</th>
                                    <th>Anasayfa</th>
                                    <th>Kategori</th>
                                    <th style="width: 90px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var urun in Model)
                                {
                                    <tr>
                                        <td>@urun.Id</td>
                                        <td>
                                            <img src="img/@urun.Resim" class="img-fluid" alt="">
                                        </td>
                                        <td>@urun.UrunAdi</td>
                                        <td>@urun.Fiyat ₺</td>
                                        <td>
                                            @if (urun.Aktif)
                                            {
                                                <i class="fa-solid fa-circle-check text-success"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-circle-xmark text-danger"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (urun.Anasayfa)
                                            {
                                                <i class="fa-solid fa-circle-check text-success"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-circle-xmark text-danger"></i>
                                            }
                                        </td>
                                        <td>@urun.KategoriAdi</td>
                                        <td>
                                            <a asp-controller="Urun" asp-action="Edit" asp-route-id="@urun.Id"
                                                class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <a asp-controller="Urun" asp-action="Delete" asp-route-id="@urun.Id"
                                                class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>