@model List<KategoriGetModel>
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Kategoriler</h5>
                <a asp-controller="Kategori" asp-action="Create" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                        <thead class="table-secondary">
                            <tr>
                                <th>Id</th>
                                <th>Kategori Adı</th>
                                <th>Url</th>
                                <th>Ürün Sayısı</th>
                                <th style="width: 120px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kat in Model)
                            {
                                <tr>
                                    <td>@kat.Id</td>
                                    <td>@kat.KategoriAdi</td>
                                    <td>@kat.Url</td>
                                    <td>@kat.UrunSayisi</td>
                                    <td>
                                        <a asp-controller="Kategori" asp-action="Edit" asp-route-id="@kat.Id"
                                            class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Urun" asp-action="Index" asp-route-kategori="@kat.Id"
                                            class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-right-long"></i>
                                        </a>
                                        @if (kat.UrunSayisi == 0)
                                        {

                                            <a asp-controller="Kategori" asp-action="Delete" asp-route-id="@kat.Id"
                                                class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        }

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>